server:
  port: 8082

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    serviceUrl:
      defaultZone: ${EUREKA_SERVER_URL:http://localhost:8761/eureka/}
  instance:
    prefer-ip-address: true

spring:
  application:
    name: customer-service
  datasource:
    url: jdbc:postgresql://${SPRING_DATASOURCE_URL:localhost:5434/customer_db}
    username: ${SPRING_DATASOURCE_USERNAME:customer_user}
    password: ${SPRING_DATASOURCE_PASSWORD:customer_pass}
    driver-class-name: org.postgresql.Driver

  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.security.servlet.SecurityAutoConfiguration
      - org.springframework.boot.actuate.autoconfigure.security.servlet.ManagementWebSecurityAutoConfiguration


  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  data:
    redis:
      host: ${SPRING_REDIS_HOST:localhost}
      port: 6379
      timeout: 60000
  cache:
    type: redis

logging:
  level:
    org.springframework: INFO
    order_management.customer_service: DEBUG
